# Compatible NumPy version
numpy==1.21.6

# Essential dependencies
scipy  # Added to fix librosa dependency
librosa==0.10.2.post1
pandas==1.4.2
sounddevice==0.5.1
soundfile==0.13.1
streamlit==1.38.0

# Ensure package installation compatibility
setuptools
wheel


